<div class="relative py-20 bg-white">
  <div class="container relative m-auto px-6 md:px-12 xl:px-48">
    <div class="m-auto space-y-8 md:w-8/12 lg:w-5/12 xl:w-6/12 mt-10">
      <div class="rounded-md border border-gray-100 bg-white shadow-lg shadow-gray-600/30 backdrop-blur-2xl">
        <div class="p-8 py-12 sm:p-16">
          <h2 class="text-2xl font-extrabold mb-8">{{ title() }}</h2>
          <ng-content />

          <div class="mt-4 flex items-center">
            <div class="mt-px flex-auto border-t"></div>
            <div class="text-secondary mx-2">Ou continuer avec</div>
            <div class="mt-px flex-auto border-t"></div>
          </div>
          <div class="mt-4 flex items-center space-x-4">
            <button class="flex-auto" type="button" mat-stroked-button (click)="signinWithGoogle()">
              <div class="flex items-center gap-1.5">
                <div class="relative h-5 w-5">
                  <img ngSrc="/images/google.svg" alt="Google" fill />
                </div>
                Google
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
