<section class="px-8 md:px-32">
  <div class="px-8 pt-20 pb-12 border-x border-dashed">
    <app-detail [user]="user" />
    <div class="mt-6 flex items-center gap-6 text-sm font-medium border-b">
      <button
        (click)="switchTab('profil')"
        class="py-2 {{ activeTab() === 'profil' && 'border-b-2 border-primary-600 text-primary-500' }}">
        Mes informations
      </button>
      <button
        (click)="switchTab('solutions')"
        class="py-2 {{ activeTab() === 'solutions' && 'border-b-2 border-primary-600 text-primary-500' }}">
        Mes solutions
      </button>
    </div>
    @if (activeTab() === 'profil') {
      <div class="grid grid-cols-1 gap-y-16 mt-8">
        <app-update-info [user]="user" />
        <app-update-password />
      </div>
    }
    @if (activeTab() === 'solutions') {
      <app-user-solutions />
    }
  </div>
</section>
