<ng-container *ngIf="updatePassword.result$ | async as result">
  <h3 class="text-lg font-semibold text-gray-800 mb-6">Modifier mon mot de passe</h3>
  <form [formGroup]="form" (ngSubmit)="onSumbit()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-6">
      <mat-form-field class="w-full">
        <mat-label>Ancien mot de passe</mat-label>
        <input
          autocomplete="off"
          id="old_password"
          type="password"
          name="old_password"
          matInput
          [formControlName]="'old_password'" />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Nouveau mot de passe</mat-label>
        <input
          autocomplete="off"
          id="password"
          type="password"
          name="password"
          matInput
          [formControlName]="'password'" />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Confirmez le mot de passe</mat-label>
        <input
          autocomplete="off"
          id="password_confirm"
          type="password"
          name="password_confirm"
          matInput
          [formControlName]="'password_confirm'" />
      </mat-form-field>
    </div>
    <div class="w-1/2 md:w-1/4 mt-8">
      <button
        class="w-full text-white"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="result.isPending || form.invalid">
        @if (!result.isPending && !form.invalid) {
          <span> Mettre à jour</span>
        }
        @if (result.isPending) {
          <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
        }
      </button>
    </div>
  </form>
</ng-container>
