<section class="mx-auto max-w-screen-md border-x border-dashed">
  <div class="px-8 pt-20 mb-8 border-r">
    <app-user-info />
    <div class="mt-12 inline-flex items-center gap-6 text-sm font-medium">
      <button (click)="switchTab()" class="py-1.5 {{ activeTab() === 'profil' && 'border-b-2 border-blue-600' }}">
        Mes informations
      </button>
      <button (click)="switchTab()" class="py-1.5 {{ activeTab() === 'solutions' && 'border-b-2 border-blue-600' }}">
        Mes solutions
      </button>
    </div>
    @if (activeTab() === 'profil') {
    <div class="grid grid-cols-1 gap-y-16 mt-10">
      <app-update-info />
      <app-update-password />
    </div>
    }
  </div>
</section>
